.bodyAbout{
    display: flexbox;
   text-align: center;

}

.bodyAbout h1{
    color: #70AABD;
    text-shadow: 
    -1px -1px 0 black, /* Sombra superior izquierda */
     1px -1px 0 black, /* Sombra superior derecha */
    -1px  1px 0 black, /* Sombra inferior izquierda */
     1px  1px 0 black; /* Sombra inferior derecha */
    
}

.introductionBox{
    margin-left: 60px;
    margin-right: 60px;
}

.boxProfile{
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

.bodyAbout h3{
display:inline-block
}