.linkMenu {
    position: fixed;
    top: 0;       
    left: 0; 
    height: 950px;
    width: 10%;
    background-color: #A3CADB;
}
.optionsMenu {
    list-style: none;
    position: fixed;
    left: 0;
    margin-top: 100px;
    display:grid;
    justify-content: flex-start;
    padding-top: 50px;
    gap: 50px;
    
}

.optionsMenu li{
    color: white;
}